<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../public/main.css">
  </head>
  <body>
    <div class="board1">
      <div class="box">1</div>
      <div class="box">1</div>
      <div class="box">1</div>
      <div class="box">1</div>
      <div class="box">1</div>
    </div>
    <div class="board2">
      <div class="box">2</div>
      <div class="box">2</div>
      <div class="box">2</div>
      <div class="box">1</div>
      <div class="box">1</div>
    </div>
  </body>
</html>