<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="intro.css">
  </head>
  <body>
    <div class="center-container">
      <h1>Battleship</h1>
      <div class="center">
      <form method="GET" action="/battle">
        <input type="submit" value="New Game" class="form-style">
      </form>
      <form method="GET" action="/stats">
        <input type="submit" value="Leaderboard" class="form-style">
      </form>
    </div>
  </body>
</html>