/* Width: 90%, margin: auto
will auto-center */

/*top right down left*/
/*margin: 1 2 3 4*/

html, body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: #16214f;
}

header {
  padding-top: 5px;
}

/* latin */
@font-face {
  font-family: 'Aldrich';
  font-style: normal;
  font-weight: 400;
  src: local('Aldrich Regular'), local('Aldrich-Regular'), url(./aldrich.woff2) format('woff2');
}

.title{
  text-align: center;
  padding-top: 10px;
  margin: 0;
  color: #859ec6;
  font-family: 'Aldrich';
}

.board1{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  border: 1px solid #16214f;
  background-color: #16214f;
}

.board2{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  border: 1px solid #16214f;
  background-color: #16214f;
}

.playspace{
  float: right;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  background-color: #16214f;
  /*Absolute will set position relative to containing element (if none, document body)*/
  position: relative;
  height: 37vw;
  width: 80vw;
  top: 2vw;
  /*transform: translate(-50%, 20%);*/
}

.box{
  border: 1px solid #000000;
  background-color: #1520ed;
  color: #ffffff;
  font-size: 1.5vw;
  text-align: center;
  /*line-height: 0.1vw;*/
  font-family: 'Aldrich';
  padding: 1vw 0 0 0;
}

.ships-boxes{
  float: right;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background-color: #adadad;
  height: 11vw;
  width: 37vw;
  margin-top: 0.5vw;
}

#ships-box1{
  margin-right: 3vw;
}

#ships-box2{
  margin-right: 3.5vw;
}

.ships-box-inner {
  height: 4.8vw;
  width: 11.5vw;
  margin: 0.38vw;
  background-color: #ffffff;
}

.log-boundary {
  padding: 0.6vw 0.5vw 2vw 0.5vw;
  float: right;
  position: relative;
  height: 21.5vw;
  width: 15.5vw;
  right: 0.9vw;
  bottom: 13vw;
  background-color: #fcfcc7;
  text-align: center;
  font-family: "Aldrich";
}

.log {
  background-color: #ededed;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.3vw;
  width: 95%;
  height: 100%;
  overflow: scroll;
}

.notifications {
  background-color: #ededed;
  float: left;
  position: relative;
  /*top right down left*/
  padding: 0.3vw 0.3vw 0.1vw 0.3vw;
  height: 19vw;
  width: 15vw;
  left: 2.7vw;
  top: 2.5vw;
}