/* latin */
@font-face {
  font-family: 'Aldrich';
  font-style: normal;
  font-weight: 400;
  src: local('Aldrich Regular'), local('Aldrich-Regular'), url(./aldrich.woff2) format('woff2');
}
.center-container {
  margin: 0;
  position: absolute;
  width: 25vw;
  height: 15vw;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Aldrich';
  background-color: grey;
  text-align: center;
}

.form-style{
  padding: 5px;
  margin: 10px;
  font-family: 'Aldrich';
}