/* Width: 90%, margin: auto
will auto-center */

/*top right down left*/
/*margin: 1 2 3 4*/

/*If you don't specify a width, it automatically fills it up*/
/*margin: 2em 2em 0 2em;*/
/*Works regardless of whether position is relative!*/

html, body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: #16214f;
}

header {
  padding-top: 5px;
}

/* latin */
@font-face {
  font-family: 'Aldrich';
  font-style: normal;
  font-weight: 400;
  src: local('Aldrich Regular'), local('Aldrich-Regular'), url(./aldrich.woff2) format('woff2');
}

.title{
  text-align: center;
  margin: 0;
  color: #859ec6;
  font-family: 'Aldrich';
}

.player-titles{
  display: flex;
  position: relative;
  top: 1vw;
  width: 48vw;
  left: 18vw;
  flex-direction: row;
  justify-content: space-between;
  height: 1.7vw;
  margin: 0;
  font-family: 'Aldrich';
  font-size: 1.5vw;
  background-color: #16214f;
  color: #FFFFFF;
}

.players{
  background-color: #16214f;
  padding-top: 0.4vw;
  width: 7vw;
  text-align: center;
}

.opponent{
  background-color: #16214f;
  padding: 0.1vw;
  width: 5vw;
  text-align: center;
}

.board1{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  border: 1px solid #16214f;
  background-color: #16214f;
}

.board2{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  border: 1px solid #16214f;
  background-color: #16214f;
}

.playspace{
  float: right;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  background-color: #16214f;
  /*Absolute will set position relative to containing element (if none, document body)*/
  position: relative;
  height: 37vw;
  width: 80vw;
  top: 2vw;
  /*transform: translate(-50%, 20%);*/
}

.box{
  border: 1px solid #000000;
  background-color: #1520ed;
  color: #ffffff;
  font-size: 1.5vw;
  text-align: center;
  /*line-height: 0.1vw;*/
  font-family: 'Aldrich';
  padding: 1vw 0 0 0;
}

.ships-boxes{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  float: right;
  background-color: #adadad;
  height: 11vw;
  width: 37vw;
  margin-top: 0.5vw;
  bottom: 1vw;
}

#ships-box-player{
  margin-right: 3.5vw;
}

#ships-box-opponent{
  margin-right: 3vw;
}

.ships-box-inner {
  height: 4.8vw;
  width: 11.5vw;
  margin: 0.38vw;
  background-color: #ffffff;
}

.log-outer {
  padding: 0.6vw 0.5vw 2vw 0.5vw;
  float: right;
  position: relative;
  height: 21.5vw;
  width: 15.5vw;
  right: 1.8vw;
  bottom: 14vw;
  background-color: #870002;
  color: #ffffff;
  text-align: center;
  font-family: "Aldrich";
  font-size: 1.1vw;
}

.log-body {
  background-color: #db0000;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.3vw;
  width: 95%;
  height: 100%;
  overflow: scroll;
  text-align: left;
}

.notifications-outer {
  background-color: #0079a5;
  float: left;
  position: relative;
  text-align: center;
  /*top right down left*/
  padding: 0.3vw 0.3vw 0.1vw 0.3vw;
  height: 20vw;
  width: 15.9vw;
  left: 1.1vw;
  top: 3.2vw;
  font-family: Aldrich;
  font-size: 1.1vw;
  color: #ffffff;
}

.notifications-body{
  background-color: #00aded;
  color: #000000;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.01%;
  height: 90%;
  width: 95%;
  font-size: 1.2vw;
  line-height: 1em;
}

.notifications-list {
  margin: 0.5vw 0 0 0;
  padding: 0 0 0 1.2vw;
  font-size: 1.1vw;
}

.new-game{
  position: absolute;
  visibility: hidden;
  font-size: 1vw;
  width: 7vw;
  height: 3vw;
  left: 6vw;
  top: 1vw;
}